include LICENSE
include README.md
include requirements.txt
recursive-include data/synthetic *.md .gitkeep
recursive-include data/real_world *.md .gitkeep
recursive-include examples *.py
recursive-include tests *.py
recursive-include experiments .gitkeep
